/*
* header_basic
*/

.header_basic {
    margin-bottom: -100px;
    &_wrap {
        position: relative;
        height: 500px;
        &__logo {
            background: rgba(255,255,255,.6);
            padding: 10px;
            position: absolute;
            top: 0%;
            left: 32.5%;
            font-size: 250%;
            font-weight: 800;
            line-height: 65%;
            text-shadow: 1px 1px 1px #fff;
            font-style: italic;
            &___text {
                font-size: 25%;
                letter-spacing: 1.3px;
                text-transform: uppercase;
                text-shadow: none;                
            }
        }
        &__phones {
            background: rgba(255,255,255,.6);
            padding: 10px;
            position: absolute;
            right: 1%;
            top: 0%;
            text-shadow: 1px 1px 1px #fff;
            font-style: italic;
            & p {
                margin-bottom: 0;
                font-size: 180%;
                line-height: 110%;
            }
        }
        &__slogan {
            background: rgba(255,255,255,.6);
            padding: 10px;
            position: absolute;
            bottom: 22%;
            left: 34%;
            font-size: 170%;
            line-height: 100%;
//            text-shadow: 1px 1px 1px #000;
//            color: #fff;
            text-shadow: 1px 1px 10px #fff;
            color: #000;
            font-style: italic;
        }        
    }
}